<h1>Portfolio item</h1>
<%= link_to "Create a new item for portfolio", new_portfolio_path %>

<% @portfolio_item.each do |item| %>
	<p><%= link_to item.title, portfolio_show_path(item.id) %></p> <!-- on peut aussi juste écrire link_to item.title, portfolio_path(item)-->
	<p><%= item.subtitle %></p>
	<p><%= item.body %></p>
<!-- affiche la balise image SI item.thumb_image N'EST PAS null -->
	<%#= image_tag item.thumb_image if unless item.thumb_image.nil? %>
	<%= image_tag item.thumb_image if !item.thumb_image.nil? %>
	<%= link_to "Edit", edit_portfolio_path(item.id) %>

	<!-- la "méthode: :delete permet d'indiquer au controleur qu"il faut utiliser l'action destroy. S'il n'y a pas de méthode indiqué, c'est la méthode GET qui est utilisé par défaut-->
	<%= link_to "Delete item", portfolio_path(item.id), method: :delete, data: { confirm: "Are you sure?" } %>

<% end %>
